:root{
    --primary-color : #fafafa;
    --secondary-color: #02050a;
    --alt-color1 : #2cc973;
    --alt-color2: #3373d4;
  }
  
.about-title {
  text-align: center;
  margin-top: 30px;
  color: var(--primary-color);
}
.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.description p{
    margin: 10px 10px 10px 10px;
    color: var(--primary-color);
}
